from os.path import join, realpath, dirname
from fabric.api import cd, env, local, run, sudo, settings

# This file is designed to live in your project root, with the Chef
# configuration contained in a directory called 'config' directly underneath
# the project root.  If your structure is different, change CONFIG_ROOT below.
CONFIG_ROOT = join(realpath(dirname(__file__)), 'config')

# Update these details with your actual username and server hostnames.
env.user = 'myuser'
env.roledefs = {
    'prod': ['myserver', 'myotherserver'],
    'dev': ['mydevserver'],
}

env.chef_executable = '/var/lib/gems/1.8/bin/chef-solo'
env.cookbook_repo = 'git://github.com/bkonkle/chef-cookbooks.git'
env.disable_known_hosts = True

# Default to the dev role if no role was specified
if not env.get('roles') and not env.get('hosts'):
    env.roles = ['dev']


def bootstrap_chef():
    with settings(user='root'):
        # Install the necessary packages
        run('apt-get update')
        run('apt-get -y dist-upgrade')
        run('apt-get install -y git-core rubygems ruby ruby-dev')
        run('gem install --no-rdoc --no-ri chef')
        
        # Copy the local configuration to the server
        local('rsync -avz %s root@%s:/etc/chef' % (CONFIG_ROOT, env.host))
        
        with settings(warn_only=True):
            # If the /etc/chef/cookbooks directory already exists, then make
            # sure the cookbook repo is up to date.  Otherwise, clone it.
            if run('test -d /etc/chef/cookbooks').return_code == 0:
                with cd('/etc/chef/cookbooks'):
                    run('git reset --hard && git pull')
            else:
                run('git clone %s /etc/chef/cookbooks' % env.cookbook_repo)
        
        run('%s -j /etc/chef/nodes/%s.json' % (env.chef_executable, env.host))


def sync_config():
    """"""
    local('rsync -az --delete %s %s@%s:~/.chefconfig/'
          % (CONFIG_ROOT, env.user, env.host))
    sudo('rsync -az ~/.chefconfig/ /etc/chef/')
    sudo('sudo chown -R root:root /etc/chef/')
    with cd("/etc/chef/cookbooks"):
        sudo('git reset --hard && git pull')
    
    sudo('%s -j /etc/chef/nodes/%s.json' % (env.chef_executable, env.host))
